.film{
    background-image:
    linear-gradient(to bottom,rgba(0,0,0,0.7),rgb(0,0,0,0.9)),
      url("../images/background2.jpg") 
   ;
  height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow-y: scroll;
    margin-top: 30px;
}
